footer {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: rgb(194, 194, 194);
  height: 70px;
  max-width: 100%;
  align-items: center;
  margin: 0 auto;
}
